// *{outline:1px solid red; }
$font-stack: roboto-regular, sans-serif;
$font-stack2: "Roboto", sans-serif;
$font-stack3:"Shrikhand", serif;
$font-stack4:"Roboto Condensed", sans-serif;
$Background-color: #F6F6F6;
$main-primary:#9356DC;
$main-Secondary:#FF79DA;
$main-Tertiary:#99E2D0;
$graduate-color:#9356DC,#FF79DA;
$Background-color-cards:#EAEAEA;
@mixin flexbox { display: flex; justify-content: center; align-items: center;}
@mixin flexdirectionrow {display: flex;flex-direction: row; }
@mixin flexdirectioncolumn {display: flex;flex-direction: column; }
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

// @mixin flexbox
//     background: linear-gradient($direction, $color1, $color2, $color3);

@mixin titre-h2{ }

// @mixin cards ($theme: DarkGray) {
//   background: $theme;
//   box-shadow: 0 0 1px rgba($theme, .25);
//   color: #353535;
// }

@media only screen and (max-width: 768px) {
    .shrikhand-regular {
    font-family: "Shrikhand", serif;
}
    .roboto-regular {
    font-family: "Roboto", sans-serif;
}
.link { 
    text-decoration: none;
    // @include flexbox();
    // width:340px ;
}
// header//
header { 
    box-shadow: 0px 4px 7.5px 0px rgba(9, 0, 0, 0.5);
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: 63px;
    background-color: white;
    padding: 0px;
    // box-shadow: 0px 6px 12px -3px rgba(9, 0, 0, 0.7);
    .logo {
    width: 55%;
    
    }
}
// .navbar{ 
//     box-shadow: 0px 6px 12px -3px rgba(9, 0, 0, 0.7);
// }
// body//
body {
    margin: 0%;
}

// main//

main {
    background-color:white;
    width: 100%;
}
.cards{
    width: 100%;
    height: 42px;
    background-color:$Background-color-cards ;
    padding: 0px;
    box-shadow: 0px 4.5px 9px 1px rgba(0, 0, 0, 9);
}
// Fonctionement//
.Fonctionement {
    width: 100%;
    height: 400px;
    margin-top: 10%;
}
.second-subtitle{
    height: 317px;} 
.steps { 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 440px;
    padding-top: 3%;
    margin-top: 10%;
    gap: 0%;
}
.cards-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // justify-content: center;
    width: 300px;
    height: 66px;
    padding:0%;
    box-sizing: border-box;
    color: #000;
    box-shadow: 0px 4px 7.5px 0px rgba(9, 0, 0, 0.5);
    background-color: $Background-color;
    border-radius:20px;
    gap: 10%;
}
.ok { 
    display: flex;
    justify-content: center;
    align-items: center;
        height: 43px;
}


.ko {
    display: flex;
    justify-content: start;
    width: 25px;
    position: relative;
    top: 1px;
    left: 9px;
}
.cards-txt {
    @include flexbox();
    align-items: start;
    flex-direction: column;
    text-overflow: ellipsis;
    box-sizing: border-box;
    width: 100%;
    height: 74.25px;
    padding: 0px;
}
.svg-steps {
    display: flex;
    justify-content: space-around;
    padding-right: 23px;
    padding-left: 25px;
}
.svg-circle{ 
    position: relative;
    top: 1px;
    left: 9px;
    padding-right: 0px;
}
.cards-link {
    width: 100%;
    height: 240px;
    display: flex;
    justify-content: center;
    padding-left: 0px;
    padding-right: 0px;
}
.cards-title {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-family: $font-stack4;
    font-size: 16px;
    width: 100%;
    height: 22.67px;
    margin: 0px;
    margin-top: 0%;
    padding-left: 0px;
}
.cards-subtitle {
    font-size: 17px;
    width: 326px;
    height: 28px;
    margin-top:8px;
    margin: 0px;
    padding-left: 4%;
} 
// Restaurant section//
svg {
    display: flex;
    justify-content: space-around;
    padding-right: 10px;
}
.location{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:$font-stack;
    width:30%;
    height:42px;
    padding-top: 0%;
    padding-left: 35%;
    padding-right: 35%;
    margin-top: 0%;
    margin-bottom: 0%;
    box-shadow: 0px 0.1px 0.5px 0px rgba(9, 0, 0, 0.5);
}
.menu { 
    padding-top: 5%;
    height: 274px;
    background-color: $Background-color;
    box-shadow: 0px 0.5px 5px 1px rgba(0, 0, 0, 9);
}
h1 { 
    font-family: $font-stack;
    display: flex;
    justify-content: center;
    text-align: center;;
    font-size: 24px;
    width: 74%;
    height: 68px;
    padding-left: 13%;
    padding-right: 13%;
    background-color:$Background-color;
    margin: 0%;
}
.text-hp { 
    display: flex;
    justify-content: center;
    text-align: center;
    font-family:$font-stack2;
    width: 75%;
    font-weight: lighter;
    font-size: 16px;
    padding-left: 12%;
    padding-right: 13%;
    margin-left: 0%;
    padding-bottom: 10%;
    margin-bottom: 0%;
    margin-top: 0px;
    color: #000;
    background-color:$Background-color;
}
.explore-button{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:$Background-color;
    .gradient-btn{
    width: 58%;
    height: 50px;
    border-radius: 37px;
    border:none;
    background: linear-gradient(3deg,  #9356DC 0%, #FF79DA 100%);
    box-shadow: 0px 4px 9.5px 0px rgba(9, 0, 0, 0.5);
    color: #FFFF;
    font-family: $font-stack;
    font-size: 16px;
    padding-left: 0px;
    padding-right: 0px;
}
}
.gradient-btn :hover {
    color: #F6F6F6;
}
.Fonctionement{
h2 {
    width: 73%;
    font-size: 26px;
    font-family: $font-stack;
    padding-left: 3%;
    margin-bottom: 0px;
}     
}
h2 { 
    width: 73%;
    margin-bottom: 0px;
    margin-left: 4%;
    margin-top: 10%;
}

ul {
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $Background-color-cards;
    padding: 0px;
    box-shadow: 0px 1px 3px 0px rgba(9, 0, 0, 0.5);
}
}
.restaurant-cards {
    background-color: $Background-color;
    padding-bottom: 20%;
}
.restaurants{
@include flexdirectioncolumn();
gap: 20px;
}
.card-content {
    display: flex;
    align-items: start;
    width: 100%;
    height: 66px;
    padding:0%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    color: #000;
    font-family: $font-stack;
    background-color: white;
    border-radius:0px 0px 15px 15px;
}
.card-txt {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-overflow: ellipsis;
    box-sizing: border-box;
    width: 339px;
    height: 74.25px;
    padding: 0px;
}
.card-link {
    width: 100%;
    height: 240px;
    display: flex;
    justify-content: center;
    padding-left: 0px;
    padding-right: 0px;
}
.card-title {
    font-size: 18px;
    width: 326px;
    height: 24px;
    margin: 0px;
    padding-top: 13px;
    padding-left: 4%;
}
.card-subtitle {
    font-size: 17px;
    width: 326px;
    height: 28px;
    margin-top:8px;
    margin: 0px;
    padding-left: 4%;
} 
.card img {
    width: 100%;
    height: 174px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
    @include flexbox();
}
.card-set{ 
width: 100%;

}

.euro {
    font-weight: 700;
}

    .card {
        display: flex;
    justify-content: center;
    // align-items: center;
    background-color: $Background-color-cards;
    // border-radius: 20px;
    width: 340px;
    height: 240px;
    padding: 0px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
}
// footer//

footer {
    padding-left: 5%;
    @include flexdirectioncolumn();
    gap: 20px;
    background-color: #353535;
    color: white;
p{
    display: flex;
    padding-bottom: 2%;
    margin: 0px;
    font-family: $font-stack2;
    font-size: 16px;
}
h3 {
    width: 136px;
    font-size: 16px;
    font-family: $font-stack3;
}
}

  /*# sourceMappingURL=main.css.map */