@mixin flexbox { display: flex; justify-content: center; align-items: center;}
@mixin flexdirectionrow {display: flex;flex-direction: row; }
@mixin flexdirectioncolumn {display: flex;flex-direction: column; }