$font-stack: roboto-regular, sans-serif;
$font-stack2: "Roboto", sans-serif;
$font-stack3:"Shrikhand", serif;
$font-stack4:"Roboto Condensed", sans-serif;
$Background-color: #F6F6F6;
$main-primary:#9356DC;
$main-Secondary:#FF79DA;
$main-Tertiary:#99E2D0;
$graduate-color:#9356DC,#FF79DA;
$Background-color-cards:#EAEAEA;
$tablet:"(min-width: 769px) and (max-width: 1024px)";
$mobile: "(max-width:768px)";