*{ outline:1px solid red
    /* box-sizing: border-box; */
}

@media only screen and (max-width: 768px) {
    
.shrikhand-regular {
    font-family: "Shrikhand", serif;
}
.roboto-regular {
    font-family: "Roboto", sans-serif;
}
/* Header */

.navbar { 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
}
.logo { 
    width: 55%;
}

/* section { background-color: #EAEAEA;} */
h1{ 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 62%;
    height: 30%;
    padding-left: 18%;
    padding-right: 20%;
}
img{
    width: 50%;
}
/* card */
/* .activites {
    width: 99%;
    height: 100%;
    background-color: white;    
    gap: 35px;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 0px;
    margin-left: 0px;
}
#Activites-a-Marseille {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    width: 92%;
    height:30.02px;
    padding-left: 7%;
    padding-bottom: 30px;
}
.activites-cards {
    display: flex;
    width: 100%;
    height: 70%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.activites-cards img {
    display: flex;
    object-fit: cover;
    width: 100%;
    height: 160px;
    border-radius: 20px 20px 0px 0px;
    padding-bottom: 0px;
}
.Activités-container1{
    display: flex;
    justify-content: center;
    width: 85%;
    height: 80%;
}
.activites-cards .card-content {
    display: flex;
    justify-content: flex-start;
    text-overflow: ellipsis;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 0px 0px 20px 20px;
    font-size: 16px;
    margin-bottom: 10%;
    padding-left: 5%;
    width:100%;
    height: 59px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card-title1{ 
    font-size: 14px;
}
.card1  { 
    width: 100%;
    height: 80%;
    padding-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    gap: 30%;
} */

/* Boutons */


/* Footer */
footer { 
    background-color: #353535;
    color: white;
}
}